<div class="bundle-customizer" data-product-id="{{ product.id }}" data-section-type="bundle-customizer" data-bundle-customizer-popup>
	<div class="bundle-customizer__overlay" data-bundle-customizer-close></div>

	<div class="bundle-customizer__content" data-bundle-customizer-content></div>
</div>