<div class="product-quantity-selector js-product-quantity" data-product-quantity-selector>
	<button class="product-quantity-selector__button js-product-quantity-remove"
			type="button"
	>
		-
	</button>
	<input type="number"
		   id="Quantity"
		   name="quantity"
		   class="product-quantity-selector__input js-only-positive js-product-quantity-input"
		   value="1" min="1" data-max-val="99" data-disabled="false"
		   data-product-quantity-input
		   readonly
	>
	<button class="product-quantity-selector__button js-product-quantity-add"
			type="button"
	>
		+
	</button>
</div>
